<section id="results">
    <table>
        <tbody>
            <% @things.each do |thing| %>
            <tr>
                <td><%= link_to thing.name, thing %></td>
                <td><%= thing.address %></td>
                <td><%= thing.comments %></td>
            </tr>
            <% end %>
        </tbody>
        <thead>
            <tr>
                <th>Quoi</th>
                <th>Où</th>
                <th>Commentaires</th>
            </tr>
        </thead>
    </table>
</section>


