#body, #loginSection {
display: table-cell;
}

#locationSelection {
height: 300px;
width: 300px;
}

input[type=checkbox] {
margin-right: 15px;
}

#loginSection form p {
display: table-row;
}

#loginSection form label, #loginSection form input {
display: table-cell;
}