$foreground-color: #BDC5D4;
$error-color: #ff4040;

#notice {
  color: green;
}

.field {
  display: table-row;
  label {
    font-weight: bold;
    padding: 0 10px;
  }
  input, textarea {
    padding: 2px;
  }
  label, input {
    display: table-cell;
  }
}

.actions {
  padding:10px;
  button, a, input[type="submit"] {
    background-color: #465266;
    border: 1px solid;
    border-radius: 5px;
    color: #AAB9D4;
    padding: 4px;
    text-decoration: none;
  }
}


.field_with_errors {
  color: $error-color;
  display: table-cell;
  input {
    background-color: $error-color;
  }
}

#error_explanation {
  border: 2px solid $error-color;
  border-radius: 0.5em;
  color: $error-color;
  font-size: 0.8em;
  h2 {
    background-color: $error-color;
    color: $foreground-color;
    font-weight: bold;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0.5em 1.5em;
  }
}
