<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Où trouver</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/index.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
            <img src="img/radar.png">
            <h1>Outrouver.com</h1>            
        </header>

        <section id="body" class="content">
            <form id="searchform" action="views/results.html">
                <p>
                    <label for="search"><img src="img/search-icon.png"/></label>
                    <input id="search" type="search" placeholder="carottes"/>
                    <button>Recherche</button>
                </p>
                <label for="closeToDevice">Près de là ou je suis maintenant</label>
                <input type="checkbox" id="closeToDevice" value="closeToDevice"/>
                <label for="closeToFavorites">Près de mes endroits favoris</label>
                <input type="checkbox" id="closeToFavorites" value="closeToFavorites"/>
                <label for="closeToSelection">Près d'un autre endroit</label>
                <input type="checkbox" id="closeToSelection" value="closeToSelection"/>
                <input type="hidden" id="coordinates"/>
            </form>

            <div id="locationSelection"></div>

            <article>
                <p>
                Outrouver.com vous permet de trouver n'importe quoi à proximité de chez vous.
                </p>
                
                <p>
                C'est un site collaboratif où tout le monde peut déposer ses trouvailles, etc.
                </p>

                <p>
                Marre d'écumer toutes les échoppes de la rue du Cul ou de toutes les boutiques du 
                passage du Tuyau Qui Flotte pour trouver votre bonheur ?
                </p>
                
                <p>
                C'est ici que ça se passe.
                </p>

                <aside>
                    <h2>le top des recherches sans réponses</h2>
                    <ol>
                        <li><a href="views/record.html?item=du bon mascarpone">du bon mascarpone</a></li>
                        <li><a href="views/record.html?item=une Clio Baccara pas chère">une Clio Baccara pas chère</a></li>
                        <li><a href="views/record.html?item=des chaussons poilus">des chaussons poilus</a></li>
                        <li><a href="views/record.html?item=des bougies artistiques">des bougies artistiques</a></li>
                        <li><a href="views/record.html?item=de la superglue écolo">de la superglue écolo</a></li>
                    </ol>
                </aside>
            </article>
        </section>
        
        <section id="loginSection" class="content">
            <form id="loginform" action="">
                <p>
                    <label for="login">login</label>
                    <input id="login"/>
                </p>
                <p>
                    <label for="password">password</label>
                    <input id="password" type="password"/>
                </p>
                <button>Connexion</button>
            </form>
        </section>
          
        <nav>
            <a href="views/account.html">Mon compte</a>
        </nav>

        <footer>
            <a href="views/terms.html">Conditions d'utilisation</a>
            <a href="views/about.html">A propos</a>
        </footer>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            $(document).ready(wtf.init);
        </script>
        <script type="text/javascript">
          function initialize() {
            var mapOptions = {
              center: new google.maps.LatLng(56.563955,-4.721375),
              zoom: 8,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("locationSelection"),
                mapOptions);
            google.maps.visualRefresh = true;
            var pos = new google.maps.LatLng(56.5, -4.7);

            // https://developers.google.com/maps/documentation/javascript/reference#Marker
            var mark = new google.maps.Marker({
                         map: map,
                         position: pos,
                         visible: true
                        });

            google.maps.event.addListener(map, "click", function (e) { 
                var lat = e.latLng.lat();
                var lng = e.latLng.lng();
                var stopPropagation = e.stop();
            }); 
        }
          
        google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    </body>
</html>
